/*
 * CSS Reset
 * cr: Josh W. Comeau
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/**
 * Custom styles
 */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  font-family: sans-serif;
}

.container {
  min-height: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 24px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

h1 {
  display: none;
}

.board-size {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 12px;
}

.board-size label {
  display: block;
  font-weight: 700;
  font-size: 14px;
}

.board-size-field {
  display: flex;
  align-items: center;
  gap: 8px;
}

.board-size-field input {
  all: unset;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid hsl(210 14% 53% / 0.2);
  width: 32px;
}

.board-size-field input:focus {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.board-size-field p {
  font-size: 14px;
}

.disclaimer {
  font-size: 10px;
  color: crimson;
  text-align: center;
  margin-bottom: 32px;
}

.board-wrapper {
  overflow: hidden;
  border: 1px solid white;
}

.board-wrapper div:first-of-type {
  margin: -1px;
}

.board {
  display: grid;
  width: 450px;
  height: 450px;
  flex-shrink: 0;
  font-size: xx-large;
}

.board button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid darkslategrey;
  line-height: 0;
  cursor: pointer;
}

.board button:enabled:hover {
  background: hsl(210 14% 53% / 0.05);
}

.player-indicator {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

.player-indicator li {
  width: 50%;
  display: flex;
  justify-content: center;
}

.player-indicator li > div {
  border: 1px solid hsl(210 14% 53% / 0.5);
  border-radius: 6px;
}

.player-indicator p {
  text-align: center;
  line-height: 1;
  margin: 0;
}

.player-indicator p:first-of-type {
  font-size: 20px;
  font-weight: 700;
  padding: 16px 32px;
}

.player-indicator p:last-of-type {
  font-size: 14px;
  padding: 12px 32px;
  background-color: hsl(210 14% 53% / 0.2);
}

.player-indicator li.active > div {
  border-color: hsl(203 92% 75% / 0.5);
}

.player-indicator li.active > div p:last-of-type {
  background-color: hsl(203 92% 75% / 0.3);
}

.player-indicator li.winner > div {
  border-color: hsl(177 70% 41% / 0.5);
}

.player-indicator li.winner > div p:last-of-type {
  background-color: hsl(177 70% 41% / 0.3);
}

#restart {
  all: unset;
  color: darkslategray;
  margin-top: 36px;
  align-self: center;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid hsl(210 14% 53% / 0.2);
}

#restart:hover {
  background-color: hsl(210 14% 53% / 0.05);
}

#restart:focus {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}
